@tailwind base;
@tailwind components;
@tailwind utilities;





@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--bg-yellow);
    border-right-color: var(--bg-accent);
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--bg-accent);
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-grey: #f2f2f2;
  --bg-yellow: #ffa500;
  --bg-accent: #007bff;
  --txt-heading: #333333;
  --txt-body: #555555;
  --footer: #1a1a1a;
}

body {
  background-color: var(--bg-grey);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--txt-heading);
}

p {
  color: var(--txt-body);
}

footer {
  background-color: var(--footer);
  color: var(--bg-grey);
}
